.navbar .nav-item.active {
    font-weight: bold;
}

.navbar .nav-item:hover {
    cursor: pointer;
}

.flex-container-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.video-container {
    flex-grow: 0;
    flex-shrink: 0;
    width: 450px;
    height: 450px;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#app {
    display: flex;
}

.form-check, .form-check-label {
    cursor: pointer;
}

input[type=checkbox] {
    display: none;
}

.form-check {
    padding: 5px 10px;
    user-select: none;
    display: inline-block;
    margin-right: 4px;
    border-radius: 4px;
}

table {
    min-width: 600px !important;
}

#attendance-list td:last-child {
    min-width: 200px;
    text-overflow: ellipsis;
}

#attendance-list td:not(:last-child),
#attendance-list th:not(:last-child) {
    width: 120px;
    text-align: center;
    vertical-align: middle;
}