.navbar .nav-item.active {
    font-weight: bold;
}

.navbar .nav-item:hover {
    cursor: pointer;
}

.video-container {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#app {
    display: flex;
}

.form-check, .form-check-label {
    cursor: pointer;
}

input[type=checkbox] {
    display: none;
}

.form-check {
    padding: 10px 20px;
    user-select: none;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

table {
    width: auto !important;
}

th {
    vertical-align: middle !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

td {
    vertical-align: middle !important;
    overflow-wrap: break-word;
}

.table-overflow,
.event-overflow {
    overflow-x: visible;
    overflow-y: hidden;
    white-space: nowrap;
}

@media(max-width: 1199px) {
    .video-container {
        height: 370px;
    }
}

@media(max-width: 991px) {
    .video-container {
        height: 330px;
    }
}

@media(max-width: 575px) {
    .video-container {
        height: 300px;
    }
}