<div class="row">
    <div class="col-lg-5 col-md-6 col-sm-8 mx-auto">
        <div class="row mt-3">
            <div class="col-12 text-center">
                <div class="form-group">
                    <label class="font-weight-bold">Choose Event</label>
                    <select id="choose-event" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="msg" class="col-12 text-center">Ready to scan</div>
        </div>
        <div class="row">
            <div class="col-12 mt-3">
                <div class="video-container">
                    <video id="preview" class="bg-light"></video>
                </div>
            </div>
        </div>
    </div>
</div>
