<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Participant</th>
                    <th>Event A</th>
                    <th>Event B</th>
                    <th>Event C</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Participant A</td>
                    <td class="bg-success">OK</td>
                    <td class="bg-warning">Attended</td>
                    <td>Missing</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>